body{
	background-color: white;
}

.product{
	width: 50%;
	margin: auto;
	text-align: left;
	border-style: solid;
	height: 450px;
	padding: 20px;
	box-sizing: border-box;
}

ul{
	display: block;
	width: 50%;
	float: right;
	padding: 20px;
	font-size: 20px;
	box-sizing: border-box;
}

.imgLeft {
	display: block;
	width: 50%;
	float: left;
}

li{
	padding: 5px;
}
.button{
	text-align: center;
	display: inline-block;
	float: center;
}

#buy{
position: absolute;
top: 700px;
cursor: pointer;
padding: 20px 20px;
}

a:link{
	color: black;
}

a:visited{
	color: white;
}

a:hover{
	color: white;
}

a:active{
	color: white;
}