/* Author: Yahel Nachum */
/* Website link: https://yn-cs4241-main-a5.herokuapp.com/ */

body {
  width: 100%;
  margin: auto;
  background-color: white;
  overflow: auto;
}

div.forms {
  font-size: 40px;
  padding: 5px;
  background-color: gray;
  float: right;
  width: 100%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

ul {
  font-size: 2em;
  position: fixed;
  top: 450px;
  padding: 100px;
}

li{
	width: auto;
	float: left;
	margin: 20px;
	padding: 5px,
}

input {
  font-size: 0.9em;
}

#banner{
	border-style: solid;
	background-color: #8c8c8c;
	width: 100%;
	margin: auto;
	height: 300px;
	position: fixed;
	top: 190px;
}

#top{
	width: 100%;
	margin: auto;
}

#logo{
	float: left;
	width: 100px;
	height: 200px;
}

header{
	background-color: gray;
	height: 150px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 20px;
}

#POST-submit{
	cursor: pointer;
}

a:link{
	color: black;
}

a:visited{
	color: white;
}

a:hover{
	color: white;
}

a:active{
	color: white;
}