
body {
  width: 100%;
  margin: auto;
  background-color: white;
  overflow: scroll;
}

div.forms {
  font-size: 40px;
  padding: 5px;
  background-color: gray;
  float: right;
  width: 100%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

ul {
  font-size: 2em;

  top: 450px;
  padding: 100px;
  list-style-type: none;
}

li{
	width: 30%;
	float: left;
	margin: 20px;
	padding: 5px;
}

input {
  font-size: 0.9em;
}

#banner{
	border-style: solid;
	background-color: #8c8c8c;
	width: 100%;
	margin: auto;
	height: 300px;
	top: 150px;
	margin-top: 0px;
}

#top{
	width: 100%;
	margin: auto;
}

#logo{
	float: left;
	width: 100px;
	height: 200px;
}

header{
	background-color: gray;
	height: 150px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 20px;
	margin-bottom: 0px;
}

#POST-submit{
	cursor: pointer;
}

a:link{
	color: black;
}

a:visited{
	color: rgb(200,200,200);
}

a:hover{
	color: rgb(200,200,200);
}

a:active{
	color: rgb(200,200,200);
}

.miniImg {
  width: 300px;
}

.miniName {
  font-size: 1em;
}

.miniPrice {
  font-size: 0.5em;
}
